#Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
/__pycache__
__pycache__/Fruit_class.cpython-313.pyc
__pycache__/Fruit_class.cpython-313.pyc
__pycache__/fruitsphysics.cpython-313.pyc
__pycache__/menu.cpython-313.pyc
__pycache__/Player_class.cpython-313.pyc
__pycache__/rules.cpython-313.pyc
__pycache__/game.cpython-313.pyc
